### ignore binary files in llm-runtime ###
/neural_speed/*
!/neural_speed/*.*
!/neural_speed/*/
__pycache__

.vs
.vscode
/out
build
CMakeUserPresets.json
*.egg-info

*.exe
*.dll
*.dylib
*.pyd
*.so
*.so.*
